/* ------------------- */
/* Custom Properites   */
/* ------------------- */

/**common-colors**/ 
:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Reset sourced from : https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility Classes     */
/* ------------------- */

/* General */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    max-width: 80em;
    margin: 0 auto;
    padding: 0 2em;
}

/* Hides screen reader info for sighted users */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* Colours */

.bg-dark { background: hsl(var(--clr-dark) );}
.bg-light { background: hsl(var(--clr-light) );}
.bg-white { background: hsl(var(--clr-white) );}

.text-dark { color: hsl(var(--clr-dark) );}
.text-light { color: hsl(var(--clr-light) );}
.text-white { color: hsl(var(--clr-white) );}

.example-component { background: hsl(var(--clr-light) / 20% );}

.color-block {
    flex-grow: 1;
}